<% if @match_started %>
  <div class="course-show">
    <div class="small-12 large-8 columns end">
      <%= @match.course.name %> <br/>
      Date: <%= @match.created_at.strftime("%B %d, %Y") %> <br/>
      Opponent: <%= @opponent.username %> <br/>
      Opponent's adjusted handicap is: <%= @opponent_adjusted_handicap %> <br/>
      Your adjusted handicap is: <%= @adjusted_handicap %>
    </div>
  </div>
  <div class="small-12 large-8 columns end match-status">
    <div class="centered-text">
    Match status: <%= @match_status %>
  </div>
  </div>
  <% @holescores.each do |holescore| %>
    <% if holescore.strokes > 0 %>
      <% @button_class = "" %>
    <% else %>
      <% @button_class = "hollow" %>
    <% end %>
    <div class="small-4 columns holes">
      <%= link_to "#{holescore.hole.hole_number}", match_holescore_path(@match, holescore), class: "#{@button_class} hole button" %>
    </div>
  <% end %>
<% else %>
  <div class="callout">
    <p>
      Waiting on opponent to join...
    </p>
  </div>
<% end %>
