<div class="course-show">

<h3>
  <%= @course.name %>
</h3>
<ul class="no-bullet">
  <li>
    <%= @course.address %>
  </li>
  <li>
    <%= @course.city %> <%= @course.state %>, <%= @course.zip %>
  </li>
</ul>
</div>
<div class="row">
  <div class="small-3 columns">
    Hole #
  </div>
  <div class="small-3 columns">
    Par
  </div>
  <div class="small-3 columns">
    Difficulty
  </div>
  <div class="small-3 columns">

  </div>
</div>
<% @holes.each do |hole| %>
  <div class="row holes-table" id="hole-info">
    <div class="small-3 columns">
      <%= hole.hole_number %>
    </div>
    <div class="small-3 columns">
      <%= hole.par %>
    </div>
    <div class="small-3 columns">
    <%= hole.difficulty %>
    </div>
    <div class="small-3 columns">
    <%= link_to 'Edit', edit_course_hole_path(@course, hole) %>
    </div>
  </div>
<% end %>
<% unless @course.holes.count == 18 %>
  <div class="row">
    <%= form_for [@course, @hole] do |f| %>
    <div class="small-3 columns" id="new-hole">
      <%= f.label :hole_number, 'Hole' %>
      <%= f.text_field :hole_number, value: @next_hole_number %>
    </div>
    <div class="small-3 columns">
      <%= f.label :par %>
      <%= f.text_field :par, autofocus: true %>
    </div>
    <div class="small-3 columns">
      <%= f.label :difficulty %>
      <%= f.text_field :difficulty %>
    </div>
    <div class="add-hole">
    <br/>
      <%= f.submit "Add Hole", class: 'success button' %>
    </div>
  </div>
  <% end %>
<% end %>
