<h3>
  <%= @course.name %>
</h3>
<ul class="no-bullet">
  <li>
    <%= @course.address %>
  </li>
  <li>
    <%= @course.city %> <%= @course.state %>, <%= @course.zip %>
  </li>
</ul>

<div class="small-3 columns">
  Hole #
</div>
<div class="small-3 columns">
  Par
</div>
<div class="small-3 columns">
  Difficulty
</div>
<div class="small-3 columns">
  Strokes
</div>
<% @course.holes.each do |hole| %>
<div class="holes-table">

  <div class="small-3 columns holes-table">
    <%= hole.hole_number %>
  </div>
  <div class="small-3 columns holes-table">
    <%= hole.par %>
  </div>
  <div class="small-3 columns holes-table">
  <%= hole.difficulty %>
  </div>
  <div class="small-3 columns holes-table">
  _
  </div>
</div>
<% end %>

<div class="row">
  <%= form_for [@course, @hole] do |f| %>
  <div class="small-3 columns">
    <%= f.label :hole_number, 'Hole' %>
    <%= f.text_field :hole_number %>
  </div>
  <div class="small-3 columns">
    <%= f.label :par %>
    <%= f.text_field :par %>
  </div>
  <div class="small-3 columns">
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty %>
  </div>
  <div class="small-3 columns end">
      <%= f.submit "Add Hole", class: 'success button'%>
  </div>
</div>
<% end %>
