<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Match Play" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="mobilenav">
      <%= render 'layouts/nav' %>
    </div>
      <a href="javascript:void(0)" class="icon">
        <div class="hamburger">
          <div class="menui top-menu" id="hamburger"></div>
          <div class="menui mid-menu"></div>
          <div class="menui bottom-menu"></div>
        </div>
      </a>
      <%= render 'layouts/flash' %>
      <div class="row small-12 medium-8 large-9 columns">
        <div class="column">

          <%= yield %>

        </div>
      </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
